@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');/* font-family: 'Poppins', sans-serif; */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #CCCFD4;
}
.banner{
    height: 200px;
    border-bottom: 1px solid #000;
}
.fotoPerfil img{
    width: 240px;
    height: 240px;
    border-radius: 275px;
    border: 3px solid #CCCFD4;
}
.infosPessoais{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.infosPessoais #nome{
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.infosPessoais #email{
    color: #CCCFD4;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.estatisticas{
    display: flex;
    width: 370px;
    height: 308px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    flex-shrink: 0;
}
.estatistica{
    color: #FFF;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.estaBold{
    color: #59D1C7;
}
.infosPerfil{
    display: inline-flex;
    height: 786px;
    width: 400px;
    padding: 0px 12px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 62px;
    background: #4747D9;
}
.pessoa{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}
.fotoPerfil{
    position: absolute;
    top: 85px;
}
.main{
    display: flex;
    align-items: center;
    margin-left: 50px;
    flex-wrap: wrap;
}
.meuProjeto .titulo{
    color: #000;
font-family: Poppins;
font-size: 40px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.projeto{
    display: flex;
    width: 401px;
    height: 125px;
    padding: 15px 21px;
    align-items: center;
    gap: 16px;
    border-radius: 8px;
    border: 2px solid #4747D9;
}

.meuProjeto{
    display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 45px;
margin-left: 70px;
}
.meusProjetos{
    margin-top: -30px;
}

#foto {
    height: 240px;
    width: 240px;
    background-size: cover;
    border-radius: 275px;
    background-position: 50%;
    margin: 20px;
    position: absolute;
    top: 0px;
}

#camera {
    height: auto;
    width: 300px;
    display: flex;
    align-items: center;
    border: 1px solid black;
    margin-top: 30px;
    background-color: gray;
}

.desc {
    color: #000;
font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 600;
}

.suafoto{
    display: flex;
    height: 240px;
    width: 240px;
    background-size: cover;
    border-radius: 275px;
    background-position: 50%;
    margin: 20px;
    background-color: gray;
}

.avaliacao2 {
    margin-top: 40px;
}

button {
    width: auto;
    padding: 5px;
    border-radius: 5px;
    border-color: #CCCFD4;
    margin-top: 10px;
    margin-right: 12px;
    background-color: #4747D9;
    color: white;
}